@import 'sass-bootstrap/lib/bootstrap';
@import 'darkstrap/darkstrap';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 500px;
}

#timer {
    @extend h1;
}

input[class="clock-input focused"]{
    @extend h1;
    width: 68px;
    height: 63px;
}