@import 'sass-bootstrap/lib/bootstrap';
@import 'darkstrap/darkstrap';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 500px;
}

#timer-output {
    @extend h1;
    height: 63px;
    margin-bottom: 10px;
}

input[class="clock-input focused"]{
    @extend h1;
    width: 68px;
    height: 63px;
}

#output-text {
    float: left;
    margin-right: 10px;
}

#millisecond-animation {
    position: relative;
    height: 10px;
    width: 10px;
    background-color: #0088CC;
    float: left;
    top: 100%;
}