<div class="timer-container">
    <div class="timer-title"></div>
    <div class="timer-output"></div>
    <div class="tally-output"></div>
    <div class="timer-buttons">
        <div class="timer-button-start"></div>
        <div class="timer-button-reset"></div>
    </div>
</div>
