<form class="form-inline" action="/#">
    <fieldset>
        <input id="hours" type="text" class="clock-input focused" placeholder="00" maxlength="2"></input>
        <input id="minutes" type="text" class="clock-input focused" placeholder="00" maxlength="2"></input>
        <input id="seconds" type="text" class="clock-input focused" placeholder="00" maxlength="2"></input>
        <button id="start" type="button" class="btn btn-primary btn-large">Start</button>
        <button id="reset" type="button" class="btn btn-info btn-large">Reset</button>
    </fieldset>
</form>