<form class="navbar-form pull-right">
    <input type="text" class="span2 username" placeholder="Username">
    <input type="password" class="span2 password" placeholder="Password">
    <button type="submit" class="btn">Sign In</button>
</form>