<form class="form-inline" action="/#">
    <fieldset>
        <input class="hours" type="text" class="clock-input focused" placeholder="00" maxlength="2" pattern="[0-9]*" onclick="this.select()"></input>
        <input class="minutes" type="text" class="clock-input focused" placeholder="00" maxlength="2" pattern="[0-9]*" onclick="this.select()"></input>
        <input class="seconds" type="text" class="clock-input focused" placeholder="00" maxlength="2" pattern="[0-9]*" onclick="this.select()"></input> <button class="start-pause" type="button" class="btn btn-primary btn-large">Start</button>
        <button class="reset" type="button" class="btn btn-info btn-large">Reset</button>
    </fieldset>
</form>
